[submodule ".config/nvim/cpp-snippets"]
	path = .config/nvim/cpp-snippets
	url = https://github.com/marcelkrueger/cpp-snippets.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
